body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tablero {
    position: relative;
    padding: 10px;
}

.cuadrados {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

.cuadrado {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.cuadrado1 {
    background-color: red;
}

.cuadrado2 {
    background-color: yellow;
}

.cuadrado3 {
    background-color: blue;
}

.cuadrado4 {
    background-color: green;
}

.iluminado {
    box-shadow: 0 0 50px rgb(10, 0, 0);
}